body {
  background-color: rgb(123 165 248);
  overflow: hidden;
  text-align: center;
}

.globe {
  height: 650px;
  width: 650px;
  border-radius: 50%;
  display: inline-block;
  background-color: rgb(217 225 226);
  opacity: 0.6;
  position: absolute;
  bottom: -5%;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  box-shadow: inset 0 0 9px 7px white;
}

.globe__flakes {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: url("https://user-images.githubusercontent.com/7342669/50293046-ab4ed880-0440-11e9-8537-8a0e70729b34.png"),
    url("https://user-images.githubusercontent.com/7342669/50293049-ad189c00-0440-11e9-8cae-a57ad65c22ca.png"),
    url("https://user-images.githubusercontent.com/7342669/50294834-c58ab580-0444-11e9-84b6-186b19edf94d.png");
  animation: snowing 20s linear infinite;
  z-index: 8;
}

@keyframes snowing {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px;
  }
}

.snowman__top {
  height: 100px;
  width: 110px;
  border-radius: 50%;
  display: inline-block;
  background-color: rgb(244 245 240);
  position: absolute;
  bottom: 40%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  box-shadow: inset 0 0 9px 1px rgb(215 208 192);
  z-index: 2;
}

.top__nose{
  position: absolute;
  width: 10%;
  height: 45%;
  border-radius: 50% 50% 50% 50% / 70% 70% 10% 10%;
  background-color: orange;
  transform: rotate(180deg);
  bottom: 3%;
  right: 46%;
  z-index: 4;
}

.eyes__1 {
  height: 10px;
  width: 10px;
  border-radius: 20%;
  display: inline-block;
  background-color: black;
  position: absolute;
  bottom: 54%;
  z-index: 3;
  animation: blinkingOne 3s infinite;
}

.eyes__2 {
  height: 10px;
  width: 10px;
  border-radius: 20%;
  display: inline-block;
  background-color: black;
  position: absolute;
  bottom: 54%;
  right: 52%;
  z-index: 3;
  animation: blinkingTwo 3s infinite;
}

@keyframes blinkingOne {
    0%, 100% {
        transform: scale(1, .05) skewY(-20deg);
    }
    5%, 95% {
        transform: scale(1, 1) skewY(-20deg);
    }
}

@keyframes blinkingTwo {
    0%, 100% {
        transform: scale(1, .05) skewY(20deg);
    }
    5%, 95% {
        transform: scale(1, 1) skewY(20deg);
    }
}

.top__hat {
  position: absolute;
  bottom: 70%;
  right: -5%;
  z-index: 3;
}

.hat__topper {
  width: 80px;
  height: 60px;
  background-color: black;
  position: absolute;
  left: 18%;
  bottom: 20%;
}

.hat__bottom {
  height: 25px;
  width: 120px;
  border-radius: 50%;
  background-color: black;
  transform: skewX(150deg);
  position: relative;
}

.top__bowtie {
  
}

.bowtie__left {
  width: 0; 
  height: 0; 
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent; 
  border-left: 30px solid rgb(218 41 28);
  border-radius: 22%;
  position: absolute;
  left: 30%;
  top: 94%;
  z-index: 10;
}

.bowtie__circle {
  height: 30px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  background-color: rgb(218 41 28);
  position: absolute;
  top: 95%;
  right: 43%;
  transform: scaleY(.8);
}

.bowtie__right {
  width: 0; 
  height: 0; 
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent; 
  border-right: 30px solid rgb(218 41 28); 
  border-radius: 22%;
  position: absolute;
  right: 32%;
  top: 94%;
  z-index: 10;
}

.snowman__knock {
  font-family: "monospace";
  position: absolute;
  left: 30%;
  top: 44%;
  animation: comicKnock 1s linear infinite; 
  transform: rotate(10deg);
}

.snowman__knock2 {
  font-family: "monospace";
  font-size: 40%;
  position: absolute;
  left: 26%;
  top: 41%;
  animation: comicKnock 1s linear infinite;
  transform: rotate(-15deg);
}

.snowman__knock3 {
  font-family: "monospace";
  font-size: 120%;
  position: absolute;
  left: 20%;
  top: 45%;
  animation: comicKnock 1s linear infinite;
  transform: rotate(-20deg);
}

.snowman__lineKnock{
  width: .5%;
  height: 3%;
  background-color: rgb(0 0 0);
  position: absolute;
  border-radius: 30%;
  top: 47%;
  left: 28.7%;
  z-index: 10;
  animation: comicKnock 1s linear infinite; 
}

.snowman__lineKnock2{
  width: .5%;
  height: 3%;
  background-color: rgb(0 0 0);
  position: absolute;
  border-radius: 30%;
  top: 48%;
  left: 26.5%;
  z-index: 10;
  transform: rotate(-40deg);
  animation: comicKnock 1s linear infinite; 
}

.snowman__lineKnock3{
  width: .5%;
  height: 3%;
  background-color: rgb(0 0 0);
  position: absolute;
  border-radius: 30%;
  top: 48%;
  left: 30.7%;
  z-index: 10;
  transform: rotate(40deg);
  animation: comicKnock 1s linear infinite; 
}

@keyframes comicKnock {
  0%, 49% {
    opacity: 0;
  }
  50%, 80% {
    opacity: .7;
  }
}

.snowman__middle {
  height: 150px;
  width: 160px;
  border-radius: 50%;
  display: inline-block;
  background-color: rgb(244 245 240);
  position: absolute;
  bottom: 25%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  box-shadow: inset 0 0 9px 1px rgb(215 208 192);
  z-index: 1;
}

.middle__leftArm {

}

.leftArm__top {
  width: 8px;
  height: 70px;
  background-color: rgb(160 116 0);
  position: absolute;
  border-radius: 20%;
  top: -6%;
  left: -38%;
  animation: knocking 1s linear infinite; 
}

@keyframes knocking {
  0%, 100% {
    transform: skew(0deg) rotate(0);
  }
  50% {
    transform: skew(-20deg, -50deg) rotate(-20deg);
  }
}

.leftArm__bottom {
  width: 8px;
  height: 85px;
  background-color: rgb(160 116 0);
  position: absolute;
  border-radius: 20%;
  transform: rotate(-80deg) skewY(45deg);
  left: -18%;
  top: 10%;
  animation: armMovement 1s linear infinite;
}

@keyframes armMovement {
    0%, 100% {
    transform: rotate(-81deg) skew(0, 0);
  }
  50% {
    transform: rotate(-78deg) skew(0deg, 10deg);
  }
}

.middle__rightArm {
  position: absolute;
  right: -12%;
  bottom: 30%;
}

.rightArm__top {
  width: 8px;
  height: 70px;
  background-color: rgb(160 116 0);
  border-radius: 20%;
  position: absolute;
  transform: rotate(45deg) skewY(35deg);
  top: 40%;
}

.rightArm__bottom {
  width: 8px;
  height: 70px;
  background-color: rgb(160 116 0);
  border-radius: 20%;
  transform: rotate(110deg) skewY(45deg);
}

.snowman__bottom {
  height: 200px;
  width: 210px;
  border-radius: 50%;
  display: inline-block;
  background-color: rgb(244 245 240);
  position: absolute;
  bottom: 9.9%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  box-shadow: inset 0 0 9px 1px rgb(215 208 192);
}


.globe__base {
  height: 10%;
  width: 50%;
  position: absolute;
  bottom: 0;
  background-color: rgb(68 55 49);
  z-index: -1;
  border-radius: 40%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 5;
}
